<!-- <div class="container mt-3">
  <h3 class="text-center">Welcome to my Webprojekt application!</h3>
  <p>In the application, all the features are working, we have the option to register, like other users and send
    messages. We can also edit our profile and upload photos. Currently, the site is only optimized for PC, more
    platforms are under development.</p>
  <p>On the frontend, I used Angular 14 and on the backend I used C# with the .NET7 framework. The source code is
    available to view on my Github page.</p>
  <p>To create this site, I used the Udemy course <i>'Neil Cummings: Build
      an app with ASP.NET Core and Angular from scratch.'</i></p>
  <p>You can contact me through the links below.</p>
  <p class="text-center">Thank you for visiting and testing the site. <br><b>Gabor Kosa</b></p>
</div> -->

<div class="container mt-5">
  <div class="card p-3">
    <h3 class="text-center mb-3">Welcome to my Webprojekt application!</h3>
    <p class="text-justify mb-3">In the application, all the features are working, we have the option to register, like
      other users and send messages. We can also edit our profile and upload photos. Currently, the site is only
      optimized for PC, more platforms are under development.</p>
    <p class="text-justify mb-3">On the frontend, I used Angular 14 and on the backend I used C# with the .NET7
      framework. The source code is available to view on my Github page.</p>
    <p class="text-justify mb-3">To create this site, I used the Udemy course <i>'Neil Cummings: Build an app with
        ASP.NET Core and Angular from scratch.'</i></p>
    <p class="text-center mb-3">You can contact me through the links below.</p>
    <div style="text-align: center;">
      <a href="https://www.facebook.com/gabor.kosa.102">
        <button><i class="fa fa-facebook"></i></button>
      </a>
      <a href="https://github.com/KosaGabo">
        <button><i class="fa fa-github"></i></button>
      </a>
      <a href="https://www.linkedin.com/in/g%C3%A1bor-k%C3%B3sa-b51111212/">
        <button><i class="fa fa-linkedin"></i></button>
      </a>
      <a href="mailto:kosahard@gmail.com">
        <button><i class="fa fa-envelope"></i></button>
      </a>
    </div>
    <p class="text-center">Thank you for visiting and testing the site. <br><b>Gabor Kosa</b></p>
  </div>
</div>

<footer>
  <button class="btn btn-info btn-sm float-md-end" routerLink="/">Return to home page</button>
</footer>
